body {
  background-image: url("czarne-tło.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
* {
  font-family: "Roboto", sans-serif;
  color: white;
}
p {
  font-size: 20px;
}
span {
  color: yellow;
}
